body{
font-family: Arial;
background:#667eea;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:350px;
}

.amount input{
width:100%;
padding:10px;
margin-top:5px;
}

.dropdown{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
}

.select-container{
display:flex;
border:1px solid #ccc;
padding:5px;
border-radius:5px;
}

.select-container img{
width:30px;
margin-right:5px;
}

select{
border:none;
outline:none;
}

.swap{
font-size:20px;
cursor:pointer;
}

button{
margin-top:20px;
width:100%;
padding:10px;
background:#667eea;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

.msg{
margin-top:20px;
font-weight:bold;
}